<div class="login-container">
  <div class="login-header">
    <!-- <img src="../../../assets/images/logo.png" alt="logo"> -->
    <!-- <span>中国航天科工二院25所</span> -->
  </div>
  <div class="login-content">
    <span class="login-content-text">仪器设备管理系统</span>
    <div class="login-content-form">
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div class="form-header">
          <span style="font-size: 20px;">系统登录</span>
          <span style="display: inline-block;width: 1px;height: 15px;font-size: 14px;background: #ffffff;vertical-align: middle;"></span>
          <span style="font-size: 14px;vertical-align: middle;">User Login</span>
        </div>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nz-input formControlName="userName" placeholder="账号">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">
              请输入你的账号!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input type="password" nz-input formControlName="password" placeholder="密码">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
              请输入你的密码!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="remember">
              <span style="color: #ffffff;">记住我</span>
            </label>
            <!--<a class="login-form-forgot" class="login-form-forgot">Forgot password</a>-->
            <button nz-button class="login-form-button" [nzType]="'primary'">登 录</button>
            <!--Or-->
            <a href="" style="visibility: hidden;">register now!</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

  </div>
  <div class="login-footer">
    <!-- <div>北 京 航 天 福 道 高 技 术 股 份 有 限 公 司</div> -->
    <!-- <div>BEIJING AEROSPACE FUDAO HIGH TECH.CO.LTD</div> -->
  </div>
</div>
